
@{
    ViewBag.Title = "ClientLogin";
}

<h2>ClientLogin</h2>

<hr />
<table>
    <tr>
        <td>Email</td>
        <td><input type="text" id="textemail" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="text" id="textpassword" /></td>
    </tr>
    <tr>
        <td>Login</td>
        <td><button id="btnLogin">Login</button></td>
    </tr>
</table>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>